body{
    max-width: 80%;
    width: 852px;
    margin: auto;
    background-color: rgba(190,165,50,0.5);
}
main{
    padding: 0;

    

}
a{
    text-decoration: none;
    color: antiquewhite;
}
nav a:hover{
    color: white;
}
nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none ;
    padding: 0;
    margin: 0;
}
nav{

    background-image: url(kepek/bg-nav.png);
    margin-top: 3px;
    background-size: cover;
}
nav li{
    font-family: 'Margarine',cursive; 
    height: 45px;
    font-size: 18px;
    text-align: center;
    border: 1px solid white;
    padding-top: 13px;
}

article{
    grid-area: a;
    background-color: rgba(189,183,120,0.5);
    color: #5a4535;
    text-align: justify;
    font-family: 'Calibri', Garamond, 'Comic Sans MS';
    padding: 5px;
    border: 1px solid #999658;
}
article p{
    font-size: 12px;
}
h2{
    color: darkcyan;
    border-bottom: 1px dotted #5a4535;
    border-top: 1px dotted #5a4535;
    font-style: bold;
    font-variant: small-caps;
}
h1{
    color: darkcyan;
    border-bottom: 1px dotted #5a4535;
    font-style: bold;
    font-variant: small-caps;
    font-size: 35px;
}